<div th:fragment="footer">
    <footer class="panel-footer">
        <div class="container">
            <div class="row">
                <section id="hours" class="col-sm-4">
                    <p>This website is fully dedicated to the community of Estonian speedcubers</p>
                    <hr class="visible-xs">
                </section>
                <section id="address" class="col-sm-4">
                    <p>MTÜ Eesti Kuubik is an NPO, which ensures that the whole profit from the organization of speedcubing competitions in Estonia is directed to develop speedcubing in Estonia.</p><br>
                    <hr class="visible-xs">
                </section>
                <section id="testimonials" class="col-sm-4">
                    <p>The older version of this webpage can be found <a href="/estonianopen.eu/index.php" target="_blank">here</a></p>
                </section>
            </div>
            <div class="text-center">If you see a mistake on the page or wish to propose an enhancement, feel free to contact <a href="mailto:thetalkingjr@gmail.com" target="_blank">me</a></div>
        </div>
    </footer>
</div>